VITE_ALEO_NETWORK=testnet
VITE_PROGRAM_ID=zk_factor_12255.aleo
VITE_PROGRAM_ADDRESS=aleo1...
VITE_API_ENDPOINT=https://api.explorer.aleo.org/v1
VITE_ALEO_EXPLORER=https://testnet.explorer.provable.com
VITE_USDCX_PROGRAM_ID=test_usdcx_stablecoin.aleo
VITE_WORKER_URL=http://localhost:8787
