VITE_ALEO_NETWORK=testnet
VITE_ALEO_PROGRAM_ID=zk_factor.aleo
VITE_API_ENDPOINT=https://api.explorer.aleo.org/v1
VITE_ALEO_EXPLORER=https://testnet.explorer.provable.com
VITE_USDCX_PROGRAM_ID=test_usdcx_stablecoin.aleo
VITE_PRIVY_APP_ID=
VITE_PINATA_JWT=
VITE_RESEND_API_KEY=
